{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ theme_item.Title }}</title>
    {% include 'template/navstyle.html' %}
    <link rel="stylesheet" href="{% static 'bbs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bbs/css/fluidbox.min.css' %}">
</head>
<body class="page_board">
{% include 'template/navbar.html' %}
<a name="top" class="offset"></a>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading media">
                    <div class="media-body" style="width: 10000px;">
                        <h1 class="media-heading">{{ theme_item.Title }}</h1>
                        <div class="info">
                            <span>{{ theme_item.College_type }}</span>
                            •
                            <a href="#">{{ theme_item.Fbr.last_name }}</a>
                            <span class="hidden-mobile">
                            •
                            发表于
                            <abbr title="时间">{{ theme_item.Fb_date|date:"Y-m-d H:i:s" }}</abbr>
                                {% if theme_item.Hf_sum != 0 %}
                                    •
                                    最后由
                                    <a href="#">{{ theme_item.Zjhfr.last_name }}</a>
                                    回复于
                                    <abbr title="时间">{{ theme_item.Zjhf_date|date:"Y-m-d H:i:s" }}</abbr>
                                {% endif %}
                                •
                            阅读数{{ theme_item.Yd_sum }}
                            </span>
                        </div>
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object avatar-48" src="{% static 'bbs/img/blue_z.png' %}"
                                 alt="zev">
                        </a>
                    </div>
                </div>
                {% if theme_item.Dz_sum >= 10 %}
                    <div class="label-awesome">
                        <i class="fa fa-diamond" aria-hidden="true"
                           data-toggle="tooltip" data-original-title="精华主题"></i>
                        精华主题
                    </div>
                {% endif %}
                <div class="panel-body markdown">
                    <article>
                        {{ theme_item.Content|safe }}
                    </article>
                </div>
                <div class="panel-footer">
                    <div class="opts-color" data-id="{{ theme_item.id }}" data-type="theme">
                        <a href="#" class="dianzan">
                            {% if is_dianzan %}
                                <i class="fa fa-heart opts_active" aria-hidden="true"></i>
                                <span style="display: inline;">{{ theme_item.Dz_sum }}个赞</span>
                            {% else %}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span style="display: none;"></span>
                            {% endif %}
                        </a>
                        <a href="#" data-id="{{ theme_item.Fbr.id }}" data-type="attention">
                            {% if is_paid %}
                                <i class="fa fa-eye opts_active" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            {% endif %}
                            <span>关注</span>
                        </a>
                        <a href="#" data-id="{{ theme_item.id }}" data-type="collection">
                            {% if is_collected %}
                                <i class="fa fa-bookmark opts_active" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            {% endif %}
                            <span>收藏</span>
                        </a>
                        {% if request.user.id == theme_item.Fbr.id %}
                            <span class="pull-right">
                                <a href="{% url 'bbs_theme_edit' theme_item.id%}"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'bbs_theme_delete' theme_item.id %}" onclick="return confirm('确定删除主题吗？')"><i class="fa fa-trash"></i></a>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-default panel reply-list">
                <div class="panel-heading">
                    共收到
                    <b>{{ theme_item.Hf_sum }}</b>
                    条回复
                </div>
                <div class="panel-body">
                    {% if request.user.is_authenticated %}
                        {% for reply_item in reply_list %}
                            <div class="reply">
                                <a name="{{ forloop.counter }}" class="offset"></a>
                                <div class="avatar">
                                    <a href="#">
                                        <img class="media-object avatar-48" src="{% static 'bbs/img/blue_z.png' %}"
                                             alt="zev">
                                    </a>
                                </div>
                                <div class="infos">
                                    <div class="info">
                                        <span>{{ reply_item.reply_infos.Hfr_Id }}</span>
                                        <span id="reply_count">#{{ forloop.counter }}</span>
                                        ·
                                        <abbr>{{ reply_item.reply_infos.Fb_date|date:"Y-m-d H:i:s" }}</abbr>
                                        <span class="opts-color pull-right" data-id="{{ reply_item.reply_infos.id }}" data-type="reply">
                                            {% if reply_item.reply_infos.Hfr_Id == request.user %}
                                                <a href="{% url 'bbs_reply_delete' reply_item.reply_infos.id %}" onclick="return confirm('确定删除回复吗？')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            {% endif %}
                                            <a href="javascript:void(0)" onclick="reply_comment(this)"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                            <a href="#" class="dianzan">
                                                {% if reply_item.is_dianzan %}
                                                    <i class="fa fa-heart opts_active" aria-hidden="true"></i>
                                                    <span style="display: inline;">{{ reply_item.reply_infos.Dz_sum }}个赞</span>
                                                {% else %}
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    <span style="display: none;"></span>
                                                {% endif %}
                                            </a>
                                        </span>
                                    </div>
                                    <div class="markdown">
                                        {% if reply_item.reply_infos.Legal == False %}
                                            <p>非法回复</p>
                                        {% else %}
                                            <p class="content">
                                                {{ reply_item.reply_infos.display_content }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for reply_item in theme_item.themeanswer_set.all %}
                            <div class="reply">
                                <a name="{{ forloop.counter }}" class="offset"></a>
                                <div class="avatar">
                                    <a href="#">
                                        <img class="media-object avatar-48" src="{% static 'bbs/img/blue_z.png' %}"
                                             alt="zev">
                                    </a>
                                </div>
                                <div class="infos">
                                    <div class="info">
                                        <span>{{ reply_item.Hfr_Id }}</span>
                                        <span>#{{ reply_item.Lc_no }}</span>
                                        ·
                                        <abbr>{{ reply_item.Fb_date|date:"Y-m-d H:i:s" }}</abbr>
                                        <span class="opts-color pull-right" data-id="{{ reply_item.id }}" data-type="reply">
                                            <a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                            <a href="#" class="dianzan">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="markdown">
                                        {% if reply_item.Legal == False %}
                                            <p>非法回复</p>
                                        {% else %}
                                            <p class="content">
                                                {{ reply_item.display_content }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-default panel">
                <div class="panel-heading">
                    回复主题
                </div>
                <div class="panel-body">
                    <div class="opts-color">
                        <a href="#emoji-modal" data-toggle="modal"><i class="fa fa-smile-o"></i></a>
                    </div>
                    <form action="{% url 'bbs_reply' %}" method="post" onsubmit="return validate_reply_form(this);">
                        {% csrf_token %}
                        <textarea name="reply_content" rows="4" style="height: 80px; width:100%" class="markdown"></textarea>
                        <input hidden name="theme_id" value="{{ theme_item.id }}" />
                        <button type="submit" class="btn btn-primary pull-right">回复</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div  id="theme-sidebar" data-spy="affix">
                <div class="panel panel-default">
                    <div class="panel-body" align="center">
                        <a href="#top" class="btn btn-default" style="width:100%">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </a>
                        <hr>
                        <div class="opts-color" data-id="{{ theme_item.id }}" data-type="theme">
                            <a href="#" style="display:block" class="dianzan">
                                {% if is_dianzan %}
                                    <i class="fa fa-heart opts_active" aria-hidden="true" style="display:block;font-size: 40px;"></i>
                                    <span style="display: inline;">{{ theme_item.Dz_sum }}个赞</span>
                                {% else %}
                                    <i class="fa fa-heart" aria-hidden="true" style="display:block;font-size: 40px;"></i>
                                    <span style="display: none;"></span>
                                {% endif %}
                            </a>
                            <div class="btn-group" role="group" style="margin-top: 10px;">
                                <a href="#" class="btn btn-default" data-id="{{ theme_item.Fbr.id }}" data-type="attention">
                                    {% if is_paid %}
                                        <i class="fa fa-eye opts_active" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    {% endif %}
                                    <span>关注</span>
                                </a>
                                <a href="#" class="btn btn-default" data-id="{{ theme_item.id }}", data-type="collection">
                                    {% if is_collected %}
                                        <i class="fa fa-bookmark opts_active" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    {% endif %}
                                    <span>收藏</span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="opts-color">
                            分享到：
                            <a href="#" title="分享到QQ"><i class="fa fa-qq" aria-hidden="true"></i></a>
                            <a href="#" title="分享到微信"><i class="fa fa-wechat" aria-hidden="true"></i></a>
                        </div>
                        <hr>
                        <div>
                            共收到{{ theme_item.Hf_sum }}条回复
                        </div>
                        <a href="javascript:focus_on_textarea()" class="btn btn-reply">参与回复</a>
                        <hr>
                        <a href="#bottom" class="btn btn-default" style="width:100%">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a name="bottom"></a>
<div class="modal" tabindex="-1" role="dialog" id="emoji-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请选择表情</h4>
            </div>
            <div class="modal-body">
                <ul id="emoji-list" class="list-inline">
                    <li>&#x1F600;</li>
                    <li>&#x1F601;</li>
                    <li>&#x1F602;</li>
                    <li>&#x1F603;</li>
                    <li>&#x1F604;</li>
                    <li>&#x1F605;</li>
                    <li>&#x1F606;</li>
                    <li>&#x1F607;</li>
                    <li>&#x1F608;</li>
                    <li>&#x1F609;</li>
                    <li>&#x1F60A;</li>
                    <li>&#x1F60B;</li>
                    <li>&#x1F60C;</li>
                    <li>&#x1F60D;</li>
                    <li>&#x1F60E;</li>
                    <li>&#x1F60F;</li>
                    <li>&#x1F610;</li>
                    <li>&#x1F611;</li>
                    <li>&#x1F612;</li>
                    <li>&#x1F613;</li>
                    <li>&#x1F614;</li>
                    <li>&#x1F615;</li>
                    <li>&#x1F616;</li>
                    <li>&#x1F617;</li>
                    <li>&#x1F618;</li>
                    <li>&#x1F619;</li>
                    <li>&#x1F61A;</li>
                    <li>&#x1F61B;</li>
                    <li>&#x1F61C;</li>
                    <li>&#x1F61D;</li>
                    <li>&#x1F61E;</li>
                    <li>&#x1F61F;</li>
                    <li>&#x1F620;</li>
                    <li>&#x1F621;</li>
                    <li>&#x1F622;</li>
                    <li>&#x1F623;</li>
                    <li>&#x1F624;</li>
                    <li>&#x1F625;</li>
                    <li>&#x1F626;</li>
                    <li>&#x1F627;</li>
                    <li>&#x1F628;</li>
                    <li>&#x1F629;</li>
                    <li>&#x1F62A;</li>
                    <li>&#x1F62B;</li>
                    <li>&#x1F62C;</li>
                    <li>&#x1F62D;</li>
                    <li>&#x1F62E;</li>
                    <li>&#x1F62F;</li>
                    <li>&#x1F630;</li>
                    <li>&#x1F631;</li>
                    <li>&#x1F632;</li>
                    <li>&#x1F633;</li>
                    <li>&#x1F634;</li>
                    <li>&#x1F635;</li>
                    <li>&#x1F636;</li>
                    <li>&#x1F637;</li>
                    <li>&#x1F638;</li>
                    <li>&#x1F639;</li>
                    <li>&#x1F63A;</li>
                    <li>&#x1F63B;</li>
                    <li>&#x1F63C;</li>
                    <li>&#x1F63D;</li>
                    <li>&#x1F63E;</li>
                    <li>&#x1F63F;</li>
                    <li>&#x1F645;</li>
                    <li>&#x1F646;</li>
                    <li>&#x1F647;</li>
                    <li>&#x1F648;</li>
                    <li>&#x1F649;</li>
                    <li>&#x1F64A;</li>
                    <li>&#x1F64B;</li>
                    <li>&#x1F64C;</li>
                    <li>&#x1F64D;</li>
                    <li>&#x1F64E;</li>
                    <li>&#x1F64F;</li>
                    <li>&#x1F680;</li>
                    <li>&#x1F681;</li>
                    <li>&#x1F682;</li>
                    <li>&#x1F683;</li>
                    <li>&#x1F684;</li>
                    <li>&#x1F685;</li>
                    <li>&#x1F686;</li>
                    <li>&#x1F687;</li>
                    <li>&#x1F688;</li>
                    <li>&#x1F689;</li>
                </ul>
            </div>
            <div class="modal-footer">
                <img draggable="false" class="emoji" alt="😀" src="http://twemoji.maxcdn.com/2/svg/1f600.svg">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
{% include 'template/navscript.html' %}
<script src="{% static 'scutmocc/js/twemoji.min.js' %}"></script>
<script src="{% static 'bbs/js/jquery.fluidbox.min.js' %}"></script>
<script src="{% static 'bbs/js/theme-display.js' %}"></script>
</html>