{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'template/navstyle.html' %}
    <link rel="stylesheet" href="{% static 'bbs/css/style.css' %}">
    {% include 'template/navscript.html' %}
    <script src="{% static 'bbs/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'bbs/js/tinymce/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'bbs/js/theme-edit.js' %}"></script>
</head>
<body class="page_board">
    {% include 'template/navbar.html' %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                编辑主题
            </div>
            <div class="panel-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <textarea id='editor'></textarea>
                    <div class="pull-right"  style="margin-top:10px">
                        <a class="btn btn-danger">删除</a>
                        <input type="submit" value="保存" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>