{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}个人中心{% endblock %}</title>
    {% include 'template/navstyle.html' %}
    <style>
        #art {
            padding-top:70px;
        }
    </style>
</head>
<body>
{% include 'template/navbar.html' %}

<div id="art" class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="aside" class="accordion  col-md-offset-1" id="accordion2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header"
                        style="margin-bottom: 5px;font-size: x-large;font-family:'宋体',sans-serif;">{{ user.last_name }}</li>
                    <div class="accordion-group" style="margin-bottom: 5px;margin-left: 16px">
                        <div class="accordion-heading">
                            <li><a href="{% url 'my_page' user.id %}" data-toggle="collapse" data-target="" data-parent="#accordion2">
                                <i class="glyphicon glyphicon-home"></i> <span style="margin-left: 5px;">主页</span>
                                <span class="badge">new</span> </a>
                            </li>
                        </div>
                    </div>
                    <div class="accordion-group" style="margin-bottom: 5px;margin-left: 16px;">
                        <div class="accordion-heading">
                            <li><a href="{% url 'user_center_bbs' request.user.id %}">
                                <i class="glyphicon glyphicon-fire"></i> <span style="margin-left: 5px;">论坛</span></a>
                            </li>
                        </div>
                    </div>

                    <div class="accordion-group" style="margin-bottom: 5px;margin-left: 16px;">
                        <div class="accordion-heading">
                            <li><a href="#" data-toggle="collapse" data-target="#submit" data-parent="#accordion2">
                                <i class="glyphicon glyphicon-send" style="margin-right:5px; "></i><span
                                    style="margin-left: 5px;">发布</span></a>
                            </li>
                        </div>
                        <div id="submit" class="accordion-body collapse">
                            <ul class="nav nav-list" style="padding-left: 30px">
                                <li><a href="{% url 'sub_les' user.id 1 %}"><i class="glyphicon glyphicon-star"
                                                                               style="margin-right: 6px"></i>课程</a>
                                </li>
                                <li><a href=""><i class="glyphicon glyphicon-star" style="margin-right: 6px"></i>项目</a>
                                </li>
                                <li><a href=""><i class="glyphicon glyphicon-star" style="margin-right: 6px"></i>技能</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li class="divider"></li>
                    <li class="navbar-header">Others</li>
                    <li><a href="#"><i class="glyphicon glyphicon-heart-empty"></i>关注</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% block content %}

                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#lesson" role="tab" data-toggle="tab">我的课程</a>
                        </li>
                        <li role="presentation"><a href="#learn" role="tab" data-toggle="tab">我的学习</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="lesson">
                            <ul class="nav nav-list">

                                {% for lesson in lessons %}
                                    <h3><li><a href="{% url 'my_course' user.id lesson.id %}">{{ lesson.Les_Name }}</a></li></h3>
                                    <h5>{{ lesson.Les_Date }}</h5>
                                    <div class="well">
                                        <p>{{ lesson.Les_Intro }}</p>
                                        <ul class="list-group">
                                                {% for key,value in students.items %}
                                                    {% if key == lesson.id %}
                                                        {% for student in value %}
                                                         <li class="list-group-item list-group-item-info"><span
                                                    class="label label-primary">{{ student.Person.last_name }}</span>
                                                --- 联系方式:{{ student.Contact }}
                                            </li>
                                                        {% endfor %}
                                                    {% endif %}

                                                {% endfor %}
                                        </ul>
                                    </div>
                                {% empty %}
                                    <div class="well">
                                    你还没有发布课程，赶紧去试一试吧!
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="learn">
                            <ul class="nav nav-list">
                                {% for les in myles %}
                                    <li>
                                    <h3><a href="">{{ les.Les_Id.Les_Name }}</a></h3>
                                    <h5>{{ les.Ch_Date }}</h5>
                                    <div class="well">
                                        <p>{{ les.Les_Id.Les_Intro }}</p>
                                    </div>
                                </li>
                                    {% empty %}
                                    <div class="well">
                                    你目前没有选中的课，去首页看看有没有你心仪的课吧~
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>

            {% endblock %}
        </div>
    </div>
</div>


</body>
{% include 'template/navscript.html' %}
<script>
    $(function () {
        $("[id^='id_']").addClass("form-control");
    })
</script>
</html>