<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-sns">
                <a href="http://weibo.com" title="新浪微博"><i class="fa fa-weibo"></i></a>
                <a href="#" title="微信"><i class="fa fa-wechat"></i> </a>
                <a href="#" title="腾讯微博"><i class="fa fa-tencent-weibo"></i></a>
                <a href="#" title="QQ"><i class="fa fa-qq"></i></a>
            </div>

            <div class="footer-link">
                <a href="/about/us" target="_blank" title="关于我们">关于我们  </a><a href="">|</a>
                <a href="/about/cooperate" target="_blank" title="企业合作">企业合作 </a><a href=""> |</a>
                <a href="/about/contact" target="_blank" title="联系我们">联系我们 </a><a href="">|</a>
                <a href="/about/recruit" target="_blank" title="讲师招募">讲师招募</a><a href="">|</a>
                <a href="/about/faq" target="_blank" title="常见问题">常见问题 </a><a href="">|</a>
                <a href="/user/feedback" target="_blank" title="意见反馈">意见反馈</a><a href="">|</a>
                <a href="/about/friendly" target="_blank" title="友情链接">友情链接</a>
            </div>
            <div class="footer-copyright"><p>&copy;&nbsp;2016&nbsp;imooc.com&nbsp;&nbsp;京ICP备 13046642号-2</p></div>
        </div>
    </div>
</footer>