<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">ScutMocc</a>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'course_detail' 'c' 0 0 %}">项目</a></li>
            <li><a href="{% url 'course_detail' 'b' 0 0 %}">技术</a></li>
            <li><a href="{% url 'course_detail' 'a' 0 0 %}">理论</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">论坛<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'bbs_homepage' %}">首页</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'bbs_board' 'topic' %}">话题区</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'bbs_board' 'question' %}">问题区</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'bbs_board' 'activity' %}">活动区</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <form class="navbar-form navbar-left" role="search" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="search" class="form-control" placeholder="搜索课程" id="keyword" name="keyword">
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown" style="margin-right: 30px">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.last_name }} <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'user_center' user.id %}">个人中心</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'password_change' %}">修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                </ul>
            </li>
        {% else %}
            <li><a id="login" class="fancybox" href="#user" title="Login">登录</a></li>
            <li><a id="register" class="fancybox" href="#newuser" title="Register">注册</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="notify" href="{% url 'bbs_notification_display' %}">
                <i class="fa fa-bell"></i>
                <span style="display:none"></span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-plus"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'bbs_theme_edit' ''%}">发表主题</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="layer">
    <form id="user" action="{% url 'homepage' %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        <fieldset>
            <legend>登录</legend>
            {{ form.non_field_errors }}
            {% if form.errors %}
                <script>alert("用户名或密码错误")</script>
            {% endif %}
{#            {{ form.username }}#}
{#            {{ form.password }}#}
            <div class="login">
                <div class="input-group">
                    <span class="input-group-addon" id="name">用户名</span>
                    <input name='username' type="text" class="form-control" aria-describedby="name" required maxlength="254" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="psw">密码&nbsp;&nbsp;&nbsp;</span>
                    <input name="password" type="password" class="form-control" aria-describedby="psw" required>
                </div>
            </div>
            <input type="submit" value="登录" class="btn btn-primary btn-lg btn-block"/>
            <input type="hidden" name="next" value="{% url 'homepage' %}"/>
        </fieldset>
    </form>
</div>
<div class="layer">
    <div id="newuser">
        <a href="{% url 'personal_registration' %}" class="btn btn-primary btn-lg ">个 人</a>
        <a href="{% url 'activity_registration' %}" class="btn btn-primary btn-lg ">社 团</a>
    </div>
</div>