{% load staticfiles %}
<link rel="stylesheet" href="{% static 'scutmocc/css/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'scutmocc/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'scutmocc/css/font-awesome.min.css' %}">
<style>
    .navbar-right{
        margin-right:15px;
    }
    .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
    }
    #newuser {display:none;}
    #user {display:none;}
    #newuser a{
        margin: 30px;
    }
    .layer {
            display: none;
        }
#newuser a{
    margin: 30px;
}
    .login{
        max-width:300px;
    }
    .login .input-group{
        margin-bottom: 10px;
    }
</style>

