.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

		*{ padding:0; margin:0; list-style:none;}

		header{
			width: 100%;
			background: lightgrey;
		}
		header #logo{
			float: left;
		}
		header #logo img{
			width: 50px;
			height:50px;
		}
		#leftbar li{
			float:left;
			margin:6px;
		}
		#rightbar li{
			float: right;
			margin:6px;
		}
		#clear{
			clear: both;
		}
		.container{
			display: none;
		}