{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {% include 'template/navstyle.html' %}
    <link rel="stylesheet" href="{% static 'scutmocc/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'scutmocc/css/footer_style.css' %}">
</head>
<body>
{% include 'template/navbar.html' %}
<article class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href=""><img src="{% static 'scutmocc/images/t1.jpg' %}" alt="First slide"></a>
                {#                <div class="carousel-caption">标题 1</div>#}
            </div>
            <div class="item">
                <a href=""><img src="{% static 'scutmocc/images/t2.jpg' %}" alt="Second slide"></a>
                {#                <div class="carousel-caption">标题 2</div>#}
            </div>
            <div class="item">
                <a href=""><img src="{% static 'scutmocc/images/t3.jpg' %}" alt="Third slide"></a>
                {#                <div class="carousel-caption">标题 3</div>#}
            </div>
            <div class="item">
                <a href=""><img src="{% static 'scutmocc/images/t4.jpg' %}" alt="Four slide"></a>
                {#                <div class="carousel-caption">标题 4</div>#}
            </div>
            <div class="item">
                <a href=""><img src="{% static 'scutmocc/images/t5.png' %}" alt="Four slide"></a>
                {#                <div class="carousel-caption">标题 5</div>#}
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel"
           role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control right" href="#myCarousel"
           data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <h3 style="margin-bottom:30px"><a href="{% url 'course_detail' 'd' 0 0 %}">精品推荐</a></h3>

        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j1.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">数据库设计</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-primary"
                                                         style="font-size: smaller;">百步梯</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j2.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">Android开发</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-success"
                                                         style="font-size: smaller;">BBT</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j3.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">Thumbnail label</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-primary"
                                                         style="font-size: smaller;">OFO</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j4.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">SQL Server</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-success"
                                                         style="font-size: smaller;">AGV</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j5.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">LOL打野攻略</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-primary"
                                                         style="font-size: smaller;">EDG</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href=""><img src="{% static 'scutmocc/images/j6.jpg' %}" alt="..."></a>
                <div class="caption">
                    <h5><a href="">Thumbnail label</a></h5>
                    <p class="teacher"><a href="#"><span class="label label-success"
                                                         style="font-size: smaller;">百步梯</span></a></p>
                    <p class="price">
                        <a href="#">￥120</a>
                        <a href="#">123人赞</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3><a href="{% url 'course_detail' 'a' 0 0 %}">课程精讲</a></h3>

        <div class="col-md-6">
            <h3>社团</h3>
            <ol>
                <li><a href="">~ 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">~ 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'a' 0 1 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <h3>个人</h3>
            <ol>
                <li><a href="">-- 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">-- 想转行 你准备好了吗</a></li>
                <li><a href="">-- 喜报 麦子学院七月精英学员就业榜新</a></li>
                <li><a href="">-- 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">-- 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'a' 0 2 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <h3><a href="{% url 'course_detail' 'b' 0 0 %}">技能学习</a></h3>

        <div class="col-md-6">
            <h3>社团</h3>
            <ol>
                <li><a href="">~ 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">~ 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'b' 0 1 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <h3>个人</h3>
            <ol>
                <li><a href="">-- 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">-- 想转行 你准备好了吗</a></li>
                <li><a href="">-- 喜报 麦子学院七月精英学员就业榜新</a></li>
                <li><a href="">-- 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">-- 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'b' 0 2 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <h3><a href="{% url 'course_detail' 'c' 0 0 %}">项目实战</a></h3>

        <div class="col-md-6">
            <h3>社团</h3>
            <ol>
                <li><a href="">~ 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 想转行 你准备好了吗</a></li>
                <li><a href="">~ 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">~ 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'c' 0 1 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
        <div class="col-md-6">
            <h3>个人</h3>
            <ol>
                <li><a href="">-- 2016跳槽最靠谱建议：钱多活少离家近的互联网工作</a></li>
                <li><a href="">-- 想转行 你准备好了吗</a></li>
                <li><a href="">-- 喜报 麦子学院七月精英学员就业榜新</a></li>
                <li><a href="">-- 职场 | 瞎忙族与高效人士的13个不同点</a></li>
                <li><a href="">-- 职场 | 有一种挨骂叫成长</a></li>
                <li><a href="{% url 'course_detail' 'c' 0 2 %}">查看更多&gt;&gt;</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'course_detail' 'd' 0 0 %}" style="color: black"><h3>分类</h3></a>
        <div style="margin-top:50px ">
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f1.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>android进阶</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f2.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>java思想</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f3.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>MBA进修</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f4.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>计算机概论</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f5.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>微观金融</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f6.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>游戏设计</h6>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f7.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>数据分析</h6>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f8.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>宏观经济</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f9.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>音乐制作</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f10.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>现代物理</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f11.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>实用医学</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{% static 'scutmocc/images/f12.jpg' %}" alt=""/>
                    </a>
                    <div class="caption">
                        <h6>宇宙探秘</h6>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;"><a style="background-color: whitesmoke" href="" class="btn btn-default"
                                            role="button">查看更多</a>
        </div>

    </div>
</article>
{% include 'template/footer.html' %}
</body>
{% include 'template/navscript.html' %}
</html>