{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="{% static 'scutmocc/js/jquery-3.1.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'scutmocc/css/jquery.fancybox.css' %}">
    <script type="text/babel" src="{% static 'scutmocc/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'scutmocc/js/jquery.fancybox.pack.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'scutmocc/css/homepage.css' %}">
    <script type="text/javascript" src="{% static 'scutmocc/js/homepage.js' %}"></script>

</head>
<body>

<header>
	<nav>
		<div id="logo"><img src="{% static 'scutmocc/css/logo.jpg' %}" alt="logo"/></div>
		<ul id="leftbar">
			<li><a href="#">项目</a></li>
			<li><a href="#">课程</a></li>
			<li><a href="">论坛</a></li>
			<li><a href="">个人</a></li>
		</ul>


		<ul id="rightbar">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">退出</a></li>
                <li><a href="">{{ user }}</a></li>
            {% else %}
			<li><a id="register" class="fancybox" href="#newuser" title="Register">注册</a></li>
            <li><a id="login"  class="fancybox" href="#user" title="Login">登录</a></li>
            {% endif %}
		</ul>

	</nav>
</header>
<div id="clear"></div>
<div class="container">
	<form id="user" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
		<fieldset>
			<legend>登录</legend>
            <!--
			<label for="username">用户名:</label>
			<input type="text" id="username" name="username" />
			<label for="password">密码:</label>
			<input type="password" id="password" name="password" />
             -->
            <table>
                {% if form.errors %}
                    <script>alert("用户名或密码错误")</script>
                {% endif %}
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
			<input type="submit" value="login"/>
            <input type="hidden" name="next" value="{% url 'homepage' %}" />
		</fieldset>
	</form>
</div>
<div class="container">
	<div id="newuser">
		<a href="">个人</a>
		<a href="">社团</a>
	</div>
</div>
</body>
</html>