{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'scutmocc/css/jquery.fancybox.css' %}">
    <style>
        .fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

		*{ padding:0; margin:0; list-style:none;}

		header{
			width: 100%;
			background: lightgrey;
		}
		header #logo{
			float: left;
		}
		header #logo img{
			width: 50px;
			height:50px;
		}
		#leftbar li{
			float:left;
			margin:6px;
		}
		#rightbar li{
			float: right;
			margin:6px;
		}
		#clear{
			clear: both;
		}
		.container{
			display: none;
		}
    </style>
</head>
<body>
<header>
	<nav>
		<div id="logo"><img src="{% static 'scutmocc/css/logo.jpg' %}" alt="logo"/></div>
		<ul id="leftbar">
			<li><a href="#">项目</a></li>
			<li><a href="#">课程</a></li>
			<li><a href="">论坛</a></li>
			<li><a href="">个人</a></li>
		</ul>
		<ul id="rightbar">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">退出</a></li>
                <li><a href="{% url 'password_change' %}">修改密码</a></li>
                <li><a href="">{{ user.last_name }}</a></li>
            {% else %}
			<li><a id="register" class="fancybox" href="#newuser" title="Register">注册</a></li>
            <li><a id="login"  class="fancybox" href="#user" title="Login">登录</a></li>
            {% endif %}
		</ul>
	</nav>
{% block banner %}{% endblock %}
</header>
<div id="clear"></div>
<div class="container">
	<form id="user" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
		<fieldset>
			<legend>登录</legend>
            <table>
                {% if form.errors %}
                    <script>alert("用户名或密码错误")</script>
                {% endif %}
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
			<input type="submit" value="login"/>
            <input type="hidden" name="next" value="{% url 'homepage' %}" />
		</fieldset>
	</form>
</div>
<div class="container">
	<div id="newuser">
		<a href="{% url 'personal_registration' %}">个人</a>
		<a href="{% url 'activity_registration' %}">社团</a>
	</div>
</div>
{% block article %}{% endblock %}
{% block aside %}{% endblock %}
{% block footer %}{% endblock %}
</body>
 <script type="text/javascript" src="{% static 'scutmocc/js/jquery-3.1.0.min.js' %}"></script>
 <script type="text/babel" src="{% static 'scutmocc/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'scutmocc/js/jquery.fancybox.pack.js' %}" ></script>
    <script>
        $(document).ready(function() {
			$('.fancybox').fancybox();
		});
    </script>
</html>