{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人注册</title>
    <link rel="stylesheet" href="{% static 'scutmocc/css/bootstrap.min.css' %}"/>
    <style>
        body{
        background-color: #f5f5f5;
        }
        #form_container{
            text-align: center;
            width: 600px;
            margin: 100px auto;
            border: solid 1px lightgrey;
        }
        .btn{
            margin: 0 auto;
        }
    </style>

</head>
<body>
<div id="form_container">
<form  action="{% url 'personal_registration' %}" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>注册</legend>
     {{ form.non_field_errors }}
    <div class="form-group">
     {{ form.xuehao.errors }}
        <label for="{{ form.xuehao.id_for_label }}" class="col-sm-2 control-label">学号</label>
        <div class="col-sm-4">
            {{ form.xuehao }}
        </div>
     {{ form.realname.errors }}
        <label for="{{ form.realname.id_for_label }}" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-4">
            {{ form.realname }}
        </div>
    </div>
    <div class="form-group">
        {{ form.nickname.errors }}
        <label class="col-sm-2 control-label" for="{{ form.nickname.id_for_label }}">昵称</label>
        <div class="col-sm-4">
            {{ form.nickname }}
        </div>
        {{ form.email.errors }}
        <label class="col-sm-2 control-label" for="{{ form.email.id_for_label }}">邮箱</label>
        <div class="col-sm-4">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group">
        {{ form.password.errors }}
        <label class="col-sm-2 control-label" for="{{ form.password.id_for_label }}">密码</label>
        <div class="col-sm-4">
           {{ form.password }}
        </div>
        {{ form.sec_psd.errors }}
        <label class="col-sm-2 control-label" for="{{ form.sec_psd.id_for_label }}">确认密码</label>
        <div class="col-sm-4">
            {{ form.sec_psd }}
        </div>
    </div>
        {% if tips == 'validation_fail'%}
            <div class="form-group">学号姓名不匹配</div>
        {% endif %}
        <input type="submit" class="btn btn-primary btn-lg" value="提交注册信息" />
    </fieldset>

</form>
</div>
</body>
<script src="{% static 'scutmocc/js/jquery-1.11.2.js'%}"></script>
<script src="{% static 'scutmocc/js/bootstrap.min.js' %}"></script>
<script src="{% static 'scutmocc/js/check.js' %}"></script>
</html>