{% extends 'template/form_base.html' %}
{% block title %}个人注册{% endblock %}
{% block form %}
<form  action="{% url 'personal_registration' %}" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>注册</legend>
     {{ form.non_field_errors }}
    <div class="form-group">
     {{ form.xuehao.errors }}
        <label for="{{ form.xuehao.id_for_label }}" class="col-sm-2 control-label">学号</label>
        <div class="col-sm-4">
            {{ form.xuehao }}
        </div>
     {{ form.realname.errors }}
        <label for="{{ form.realname.id_for_label }}" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-4">
            {{ form.realname }}
        </div>
    </div>
    <div class="form-group">
        {{ form.nickname.errors }}
        <label class="col-sm-2 control-label" for="{{ form.nickname.id_for_label }}">昵称</label>
        <div class="col-sm-4">
            {{ form.nickname }}
        </div>
        {{ form.email.errors }}
        <label class="col-sm-2 control-label" for="{{ form.email.id_for_label }}">邮箱</label>
        <div class="col-sm-4">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group">
        {{ form.password.errors }}
        <label class="col-sm-2 control-label" for="{{ form.password.id_for_label }}">密码</label>
        <div class="col-sm-4">
           {{ form.password }}
        </div>
        {{ form.sec_psd.errors }}
        <label class="col-sm-2 control-label" for="{{ form.sec_psd.id_for_label }}">确认密码</label>
        <div class="col-sm-4">
            {{ form.sec_psd }}
        </div>
    </div>
        <input type="submit" class="btn btn-primary btn-lg" value="提交注册信息" />
    </fieldset>

</form>
{% endblock %}
